body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.set-name {
    width: 100%;
    margin-bottom: 20px;
}

.set-name label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.set-name input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.qa-pair {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.question, .answer {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#add-pair {
    background-color: #4CAF50;
    color: white;
}

#save-set {
    background-color: #008CBA;
    color: white;
}
