body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #49a7d4;
    color: white; 
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #009bd6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    font-family: 'Big Shoulders Stencil', sans-serif; 
    font-size: 5rem; 
    margin: 0;
    color: white;
    text-align: center;
}

#done-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: #0a5fa6;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s;
    margin-left: 20px;
}

#done-button:hover {
    background-color: #3590ce;
    opacity: 1;
}

.set-name {
    font-family: "Big Shoulders Stencil", sans-serif;
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.7rem;
    color: white;
    padding: 5px 10px;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
    background-color: #0a5fa6;
    color: white;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 0.8;
}

.nav-button:hover {
    background-color: #3590ce;
    opacity: 1;
}

#flashcard {
    width: 60%;
    max-width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#reveal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a5fa6;
    color: white;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 0.8;
}

#reveal-button:hover {
    background-color: #3590ce;
    opacity: 1;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; 
    }

    #flashcard {
        width: 80%;
        font-size: 20px; 
    }

    .nav-button {
        font-size: 14px; 
    }

    #reveal-button {
        font-size: 14px; 
    }
}
