/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen */
    background-color: #f9f9f9;
    position: relative; /* Required for positioning the content over the grid background */
}

/* The background grid */
#box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Makes sure the grid background stays behind content */
}

/* Content Styles */
#app {
    max-width: 100%;
    width: 100%;
    text-align: center;
    z-index: 1; /* Keeps the content on top */
}

/* Big Shoulders Stencil Text (Main title) */
.big-shoulders-stencil {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    font-size: 25vw;
    line-height: 1.1;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Roboto Condensed Text (Tagline) */
.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Button Styles */
/* Button Styles */
#google-login {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #0a5fa6;
    color: #4AAAD5;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    width: 100%;
    max-width: 500px;
    border-radius: 12px; /* Round the corners */
    display: flex;
    justify-content: center;
    align-items: center;
}

.S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
    width: 100%;
}

#google-login iframe {
    width: auto !important; 
    max-width: 400px !important;
}

#google-login:hover {
    background-color: #2a88c7;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .big-shoulders-stencil {
        font-size: 15vw;
        height: 40vh;
    }
    
    .roboto-condensed {
        font-size: 1.2rem;
    }

    #google-login {
        padding: 15px 40px;
    }
}
